body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

div,ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  display: flex;
  align-items: center;
}


.emoji-item {
  text-align: center;
  margin: 15px 0px;
  border-radius: 5px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.emoji-item .emoji-icon {
  font-size: 120px;

}
.emoji-item .emoji-description {
  font-size: 20px;
  margin: 0px 0px 5px 0px;

}

.listado-emojis {

  list-style: none;
}